.ui-nav {
  z-index: 111;
}
.left-nav {
  position: relative;
}
.left-nav,
.btn-icon {
  color: inherit;
}
.btn-icon:nth-child(3) {
  font-size: 1rem;
}
.main-heading {
  cursor: pointer;
}

.left-nav > .btn-icon:hover {
  background-color: rgba(255, 255, 255, 0.354);
  filter: brightness(110%);
}
.drop-box {
  position: absolute;
  color: inherit;
  top: -111px;
  right: -35px;
  border-left: 1px solid gray;
  transition: 0.4s ease-in-out;
}
.drop-box p {
  cursor: pointer;
}
.drop-box p:hover {
  background-color: rgba(255, 255, 255, 0.13);
}
.show-box {
  top: 4.5rem;
}
.ui-nav {
  margin-top: 0;
  padding-top: 1rem;
  padding-inline: 2rem;
}

.drop-box p {
  font-size: 1.1rem;
  padding: 0.5rem 2rem;
}
@media only screen and (max-width: 600px) {
  .drop-box {
    right: -18px;
  }
}
