.que-container {
  width: 60vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.quiz-option {
  padding: 2rem;
  background-color: var(--light-gray-v2);
  color: inherit;
  width: 80%;
  border-radius: 8px;
  margin: 0.7rem 0;
  cursor: pointer;
  display: flex;
  transition: 0.4s;
}
.quiz-option > p {
  margin-right: 2rem;
}
#quit-btn {
  background-color: var(--danger-color);
}
.quiz-option:hover {
  background: #80808073;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
}
.selected-opt {
  background: #80808094 !important;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px !important;
  filter: brightness(100%) !important;
}

#hidden {
  display: none;
}
main div {
  margin: 0.7rem 0;
}

.btn-box {
  margin: 1rem 0;
}
#btn-box-wd {
  width: 55vw;
}
.disable {
  filter: brightness(60%);
  cursor: not-allowed;
}
.disable:hover {
  background-color: var(--light-gray-v2);
}

.btn-box .btn {
  background-color: rgba(128, 128, 128, 0.53);
  border-radius: 20px;
  display: flex;
}
.space-between {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.light-mode .quiz-btn {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  .space-between {
    width: 80%;
  }
  .quiz-option {
    width: 80%;
  }
  .que-container {
    width: 100vw;
    margin-top: 5rem;
  }
  .space-between {
    width: 90%;
  }
}
