body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

:root {
  --box-shadow-quiz: gray 0px 8px 24px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navbar items */

.card-top-img {
  height: 22rem;
}
.grid-two {
  gap: 4rem;
}

.card-component {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.17);
}

.luffy-card {
  transition: 0.4s ease-in-out;
}
.luffy-card:hover {
  box-shadow: var(--box-shadow-quiz);
}

.naruto-card {
  transition: 0.4s ease-in-out;
}
.naruto-card:hover {
  box-shadow: var(--box-shadow-quiz);
}

.card-h2 {
  color: inherit;
}
.card-h3 {
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 600px) {
  .ui-nav {
    margin: 0.8rem;
  }
}
